
//Very Pale Cyan: hsl(193, 100%, 96%)
//- Very Dark Cyan: hsl(192, 100%, 9%)
//- Grayish Blue: hsl(208, 11%, 55%)



$col1: hsl(193, 100%, 96%);
$col2: hsl(192, 100%, 9%);
$col3: hsl(208, 11%, 55%);
$btn-bg: #BB3EAF;
$col-header:black;


